<div class="container-fluid">
  <div *ngIf="_user.credentials; else loading">
    <app-temperature></app-temperature>
  </div>
  <ng-template #loading>
    <!--div>
      <img class="" src="../assets/images/loading.gif" alt="cargando...." width="100%" height="100%"/>
    </div-->
    <div id="nb-global-spinner" class="spinner" style="display: none;">
      <div class="blob blob-0"></div>
      <div class="blob blob-1"></div>
      <div class="blob blob-2"></div>
      <div class="blob blob-3"></div>
      <div class="blob blob-4"></div>
      <div class="blob blob-5"></div>
    </div>
  </ng-template>
</div>
