<div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <img src="../../assets/images/loading.gif">
    </div>
  </div>
</div>

<div class="container">

  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                </div>
                <form class="user" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                  <div class="form-group">
                    <!--input type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address..."-->
                    <i class="material-icons md-36">face</i>
                    <input type="email" class="form-control form-control-user" id="username" name="username"  aria-describedby="emailHelp" placeholder="Enter username or email..." [(ngModel)]="model.username" #username="ngModel" email required>
                    <div *ngIf="f.submitted && !username.valid" class="help-block text-danger">Username is required oremail is invalid
                    </div>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                      else.</small>
                  </div>
                  <div class="form-group">
                    <input class="form-control form-control-user" type="password" id="password" name="password"
                           [(ngModel)]="model.password" #password="ngModel" required placeholder="Password">
                    <div *ngIf="f.submitted && !password.valid" class="help-block text-danger">Password is required
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                      <input type="checkbox" class="custom-control-input" id="customCheck">
                      <label class="custom-control-label" for="customCheck">Remember Me</label>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary btn-user btn-block">Submit</button>
                </form>
                <hr>
                <div class="text-center">
                  <a class="small" [routerLink]="['/forgot']">Forgot Password?</a>
                </div>
                <div class="text-center">
                  <a class="small" [routerLink]="['/register']">Create an Account!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
