<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" [routerLink]="['/home']">Healthy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div *ngIf="_user.credentials" class="collapse navbar-collapse  nav justify-content-end" id="navbarSupportedContent">
    <div class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto right hide-on-med-and-down">
        <li class="nav-item dropdown">
          <a *ngIf="_user.credentials; let data" class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
             role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Hi, {{data.data.name}}
          </a>
          <div class="dropdown-menu dropdown-menu-right center bg-transparent" aria-labelledby="navbarDropdown">
            <div class="card center center-align center-block" style="width: 18rem;" *ngIf="_user.credentials; let data">
              <img src="{{data.data.photo}}" class="card-img-top col-8 center-align" alt="Image Not Found" >
              <div class="card-body">
                <h5 class="card-title">
                  <span>
                    <p>{{data.data.name}}</p>
                  </span></h5>
                <p class="card-text"></p>
                <div class="dropdown-divider"></div>
                <button class="btn btn-primary align-middle center-align" (click)="clearSession()" type="submit">Salir
                </button>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
