<nav class="navbar navbar-expand-lg amber darken-4">
  <a class="h2 text-black-50" [routerLink]="['/home']"><span class=" text-accent-4">Healthy</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div *ngIf="_user.credentials" class="collapse navbar-collapse  nav justify-content-end" id="navbarSupportedContent">
    <div class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto right hide-on-med-and-down">
        <li class="nav-item dropdown no-arrow show">
          <a class="nav-link dropdown-toggle" *ngIf="_user.credentials; let data" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{data.data.name}} {{data.data.lastName.split(' ')[0] }}</span>
            <img class="img-profile rounded-circle" src="{{data.data.photo}}" width="60" height="60">
          </a>
          <!-- Dropdown - User Information -->
          <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in show dropdown-content" aria-labelledby="userDropdown">
            <a class="dropdown-item">
              <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
              Profile
            </a>
            <a class="dropdown-item" href="#">
              <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
              Settings
            </a>
            <a class="dropdown-item" href="#">
              <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
              Activity Log
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
              <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
              Logout
            </a>
          </div>
        </li>

        <!--li class="nav-item dropdown">
          <a *ngIf="_user.credentials; let data" class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
             role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Hi, {{data.data.name}}
          </a>
          <div class="dropdown-menu dropdown-menu-right center bg-transparent" aria-labelledby="navbarDropdown">
            <div class="card blue-grey darken-1" *ngIf="_user.credentials; let data">
              <div class="card-content white-text">
                <span class="card-title"><img src="{{data.data.photo}}"
                                              class="card-img-top col-8 center-align rounded-circle"
                                              alt="Image Not Found"></span>
                <p class="text-info">{{data.data.name}} {{data.data.lastName.split(' ')[0] }}</p>
                  {{data.data.email}}
                  {{data.data.phone}} - <span>{{data.data.cellphone}}</span>
              </div>
              <div class="card-action">
                <button class="btn btn-primary align-middle center-align" (click)="clearSession()" type="submit">Close Session</button>
                <a href="#">This is a link</a>
              </div>
            </div-->
            <!--div class="card center center-align" style="width: 18rem;" *ngIf="_user.credentials; let data">
              <img src="{{data.data.photo}}" class="card-img-top col-8 center-align rounded-circle" alt="Image Not Found">
              <div class="card-body">
                <p class="text-info">{{data.data.name}} {{data.data.lastName.split(' ')[0] }}</p>
                <small class="card-text">
                  <p class="text-info ">{{data.data.email}}</p>
                  <p class="text-info">{{data.data.phone}} - <span>{{data.data.cellphone}}</span></p>
                </small>
                <div class="dropdown-divider"></div>
                <button class="btn btn-primary align-middle center-align" (click)="clearSession()" type="submit">Salir
                </button>
              </div>
            </div>
          </div>
        </li-->
      </ul>
    </div>
  </div>
</nav>
