<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Healthy, Salud con Inteigencia artificial!</h1>
    <p>Ya esta esta descripción.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Healthy, Inteligencia Artificial</h2>
      <p>En la salud uno de los campos mas importantes para avanzar, muchos datos mejor salud. </p>
    </div>
    <div class="col-md-4">
      <h2>Health</h2>
      <p>Haciendo de la salud un tema importante, dentro de la inteligencia artificial, predecir con eficacia, eficiencia y confiabilidad. </p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Sport</h2>
      <p>La salud y el deporte una combinacion excepcional, el uno apoyado por el otro, y los daton en IA permiten predecir de la mano de los agentes de salud.</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>

  <hr>

</div> <!-- /container -->
