<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Healthy!</h1>
    <h1 class="display-5 text-info">Un software de salud con inteligencia artificial.</h1>
    <p>Las tecnologias avanzan a pasos agigantados, cada dia una nueva tecnologi sale a la luz, y con el tiempo avanza y va adquiriendo un lugar en la vida de los seres humanos
    para mejorar su calidad de vida, y como es el caso aumentar la esperanza de una vida longeva.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Healthy, Inteligencia Artificial</h2>
      <p>En la salud uno de los campos mas importantes para avanzar, muchos datos mejor salud. </p>
    </div>
    <div class="col-md-4">
      <h2>Health</h2>
      <p>Haciendo de la salud un tema importante, dentro de la inteligencia artificial, predecir con eficacia, eficiencia y confiabilidad. </p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Sport</h2>
      <p>La salud y el deporte una combinacion excepcional, el uno apoyado por el otro, y los daton en IA permiten predecir de la mano de los agentes de salud.</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>

  <hr>

</div> <!-- /container -->
