<div class="footer">
    <div class="text-center text-md-left">
        <div class="row">

            <!--First column-->
            <div class="col-md-6">
                <h5 class="h5">MR Sistemas y Tecnología </h5>
                <p class="text-justify">Nos dedicamos a brindar soluciones informáticas para usted y su organizacion,
                    queremos ser su aliado estrategico
                    en soluciones tecnologicas, las mas modernas del siglo XXI, Servicios en la nube, paginas web,
                    imagen corporativa
                    y soluciones empresariales para el control y manejo de los procesos de su empresa.
                </p>
                <p>
                    Somos especialistas en la implementación de soluciones para la internet de las cosas
                    <span>IOT - AWS Solutions</span>
                </p>

                <div>

                    <ul class="nav grey transparent py-4 ">
                        <li class="nav-item text-center" mdbRippleRadius>
                            <p>Siganos en </p>
                        </li>
                        <li class="nav-item " mdbRippleRadius>
                            <a class="nav-link" href="https://www.facebook.com/myrsistemas/" target="_blank">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </li>
                        <li class="nav-item" mdbRippleRadius>
                            <a class="nav-link">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                        <li class="nav-item" mdbRippleRadius>
                            <a class="nav-link" ng-click="">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>


            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-6">
                <h5 class="title">Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#">Link 1</a>
                    </li>
                </ul>
            </div>
            <!--/.Second column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright text-center py-3">
        <div class="container-fluid navbar-dark amber darken-4">
            © 2018 Copyright:
            <a href="https://www.mrsistemas.net"> MR Sistemas y Tecnología </a>
        </div>
    </div>
</div>